.place__title_forest {
    margin-bottom: 186px;
}

@media screen and (max-width: 1140px) {
    .place__title_forest {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 984px) {
    .place__title_forest {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 446px) {
    .place__title_forest {
        margin-bottom: 20px;
    }
}


