.place__title {
    font-family: 'Pragmatica', "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #000000;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 18px;
        
    }
}
