.intro__subtitle {
    padding: 0;
    margin: 0 auto 120px;
    font-family: 'Pragmatica', "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}