.places {
    display: grid;
    gap: 0;
    padding-top: 132px;
    background-color: #f2f2f2;
}

@media screen and (max-width: 984px) {
    .places {
        padding-top: 100px;
    }
}

@media screen and (max-width: 568px) {
    .places {
        padding-top: 48px;
        gap:16px;
    }
}