.places {
    margin: 140px 0 0;
    background-color: #f2f2f2;
}

@media screen and (max-width: 984px) {
    .places {
        margin-top: 100px;
    }
}

@media screen and (max-width: 568px) {
    .places {
        margin-top: 48px;
    }
}