.header__complain {
    font-family: 'Pragmatica', "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
    margin: 0;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .header__complain {
        font-size: 10px;
    }
}