.place__title_montain {
    margin-bottom: 226px;
}

@media screen and (max-width: 1140px) {
    .place__title_montain {
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 984px) {
    .place__title_montain {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 550px) {
    .place__title_montain {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 446px) {
    .place__title_montain {
        margin-bottom: 20px;
    }
}