.place__text {
    /* margin: 68px 188px 0 68px; */
    margin-top: calc(68/1280*100%);
    margin-right: calc(188/1280*100%);
    margin-left: calc(68/1280*100%);
    margin-bottom: 0;
}

@media screen and (max-width: 1140px) {
    .place__text {
        /* margin-right: 80px; */
    }
}

@media screen and (max-width: 984px) {
    .place__text {
        /* margin: 48px 68px 0 48px; */
    }
}

@media screen and (max-width: 446px) {
    .place__text {
        margin: 0 48px 0 16px;
        min-height: 100px;
        grid-area: place__text;
    }
}