.place__text {
    /* margin: 68px 188px 0 68px; */
    margin-top: calc(125/1280*100%);
    margin-right: calc(188/1280*100%);
    margin-left: calc(142/1280*100%);
    margin-bottom: 0;
}

@media screen and (max-width: 1140px) {
    .place__text {
        /* margin-right: 80px; */
    }
}

@media screen and (max-width: 984px) {
    .place__text {
        /* margin: 48px 68px 0 48px; */
    }
}

@media screen and (max-width: 446px) {
    .place__text {
        margin: 16px 126px 16px 16px;
        min-height: 100px;
        grid-area: place__text;
    }
}