.place__paragraph {
    font-family: 'Pragmatica', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
    /* width: 365px; */
}

.place__paragraph:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 984px) {
    .place__paragraph {
        font-size: 10px;
    }
}
