.place__paragraph {
    font-family: 'Minion Pro', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
    width: 365px;
}
