.place__paragraph {
    font-family: 'Pragmatica', "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.58;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
    max-width: 371px;
}

.place__paragraph:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 984px) {
    .place__paragraph {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        font-size: 10px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 510px) {
    .place__paragraph {
        margin-bottom: 6px;
        font-size: 9px;
    }
}

/* @media screen and (max-width: 446px) {
    .place__paragraph {
        font-size: 10px;
    }
} */
