.intro__text {
   max-width: 580px;
}

@media screen and (max-width: 1075px) {
   .intro__text {
      max-width: 550px;
   }
}

@media screen and (max-width: 1035px) {
   .intro__text {
      max-width: 450px;
   }
}

@media screen and (max-width: 984px) {
   .intro__text {
      max-width: 400px;
   }
}

@media screen and (max-width: 755px) {
   .intro__text {
      max-width: 350px;
   }
}

@media screen and (max-width: 716px) {
   .intro__text {
      max-width: 300px;
   }
}

@media screen and (max-width: 640px) {
   .intro__text {
      max-width: 250px;
   }
}

@media screen and (max-width: 568px) {
   .intro__text {
      max-width: 320px;
   }
}

