.intro {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding-top: 84px;
    padding-left: calc(71/1280*100%);
    padding-right: calc(157/1280*100%);

}

@media screen and (max-width: 984px) {
    .intro {
        /* margin-left: 48px;
        margin-right: 48px; */
        /* padding-left: calc(71/1280*100%);
        padding-right: calc(157/1280*100%); */
    }
}

@media screen and (max-width: 716px) {
    .intro {
        padding-right: calc(71/1280*100%);
    }
}

@media screen and (max-width: 568px) {
    .intro {
        padding: 60px 0 0 0;
        flex-wrap: wrap;
    }
}