.footer{
    display: flex;
    min-height: 620px;
    width: 100%;
    background-color: #fecda7;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 860px) {
    .footer {
      flex-direction: column;
      
    }
  }
  