.place__title_sea {
    margin-bottom: 140px;
}

@media screen and (max-width: 1140px) {
    .place__title_sea {
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 984px) {
    .place__title_sea {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 568px) {
    .place__title_sea {
        margin-bottom: 60px;
    }
}