.place__title_sea {
    margin-bottom: 144px;
}

@media screen and (max-width: 1140px) {
    .place__title_sea {
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 984px) {
    .place__title_sea {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 620px) {
    .place__title_sea {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 530px) {
    .place__title_sea {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .place__title_sea {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 460px) {
    .place__title_sea {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 446px) {
    .place__title_sea {
        margin-bottom: 20px;
    }
}